.postCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    background-color: #fff;
    box-shadow: var(--card-shadow);
    border-top: 0.28rem solid;
    overflow: hidden;
}

.imgContainer {
    position: relative;
    width: 100%;

    .favoriteButton {
        position: absolute;
        right: 0;
        padding: 0.3rem;
        margin: 0.3rem;
        background-color: #fff;
        &:hover {
            cursor: pointer;
        }
    }

    img {
        width: 100%;
    }

    .costsContainer{
        padding: 0 1rem;
        margin: 0.5rem 0;
    }

    .cost{
        font-weight: var(--font-medium);
        font-size: 1.5rem;
        color: var(--dark-grey);
    }

    .expenses{
        margin-top: 0.5rem;
        font-weight: var(--font-regular);
        font-size: .9rem;
        color: var(--light-grey);
    }
}

.descriptionContainer {
    padding: 1rem;

    h2 {
        color: var(--light-blue);
        font-weight: var(--font-medium);
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
    }

    p {
        margin: 0.5rem 0; 
        font-weight: var(--font-regular);
        font-size: 0.85rem;
        line-height: 1.2rem;
        color: var(--light-grey);
    }

    .dateAndContactContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        button {
            height: 3rem;
            padding: 0 1rem;
            color: #fff;
            font-size: 1rem;
            font-weight: var(--font-bold);
            border: none;
            border-radius: 0.4rem;
            background-color: var(--orange);
            &:hover {
                cursor: pointer;
            }
        }
    }

    .location, .publishDate{
        font-weight: var(--font-medium);
        font-size: 0.95rem;
        color: var(--dark-grey);
    }

    .publishDate {
        display: flex;
        align-items: center;

        svg {
            width: 1.2rem;
            height: 1.2rem;
            margin-right: 0.2rem;
        }
    }
}

@media screen and (min-width: 60em) {
    .postCard {
        flex-direction: row;
    }

    .imgContainer {
        img {
            width: unset;
            height: 12rem;
        }
    }

    .descriptionContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .costsContainer {
        border-right: 2px solid #dad9bb;
    }
}