.homePageContainer {
   display: flex;
   justify-content: center;
   width: 100%;
}

.container {
   main {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 60rem;
   }
}

@media screen and (min-width: 60em) {
   .container {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      padding: 0 1rem;
   }
}
